{% load django_htmx partials static %}
{% spaceless %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>django-htmx example app</title>
  <link rel="stylesheet" href="{% static 'mvp.css' %}">
  <meta name="htmx-config" content='{"historyCacheSize": 15}'>
  <script src="{% static 'htmx.js' %}" defer></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <main>
    <section>
      <form hx-post="{% url 'add-todo-item' %}" hx-target="#table-section" hx-swap="outerHTML">
        <input type="text" name="title" placeholder="Next todo item" size="100" required>
        <button>Add</button>
      </form>
    </section>
    {% partialdef table-section inline %}{% spaceless %}
    <section id="table-section">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created at</th>
            <th>Done</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for todo_item in page.object_list %}
            <tr>
              <td>{{ todo_item.id }}</td>
            {% if todo_item.completed %}
              <td><strong><del>{{ todo_item.title }}</del></strong></td>
            {% else %}
              <td><strong>{{ todo_item.title }}</strong></td>
            {% endif %}
              <td>{{ todo_item.created_at|date:"N j, Y, G:i" }}</td>
              <td><a hx-put="{% url 'edit-todo-item' todo_item.id %}" hx-target="#table-section" hx-swap="outerHTML">{% if todo_item.completed %}✔{% else %}▢{% endif %}</a></td>
              <td><a hx-delete="{% url 'edit-todo-item' todo_item.id %}" hx-target="#table-section" hx-swap="outerHTML">❌</a></td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">
                <em>No todo items on this page.</em>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    {% endspaceless %}{% endpartialdef %}
  </main>
  {% django_htmx_script %}
</body>

</html>
{% endspaceless %}
